
body{
    background-color: white;
    height: 100%;
   
  }
      .fixed-bg::before{
    content: ' ';
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: url('/Users/youssefsalah/div/new/newapp/src/assets/images/Screenshot 2022-10-06 at 1.37.25 AM.png') no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1;
  }
  h1{
    color: black;
    margin: 12px;
    font-size:3rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  main{
    margin-top: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  @media only screen and (max-width: 600px) {
   
   
    h1.opening{
      font-size: large;
    }
    img.title{
  
      width: 80px;
      }
  }
  
  
  